*{

    box-sizing: border-box !important;
    margin: 0px;
    

 }

    /* -- start header ---- - */
    header{

        background-color: #3b3b3b;
        color:white;
        padding: 10px;       
        display: flex;
        position:sticky;
        top:0.3%;
        z-index: 1;;

    }

header .into-head{


    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: calc(100% / 1);
    
    

}



.logo{

    flex: 0 0 150px;
    padding: 15px;
    background-color: #03a9f4;
    height: 51px;
    margin: 0px 10px;
    text-align: center;  

}

.links{

    background-color: #ff5722;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    flex: 1 0 0px;
    


}

.links li {

    display: inline-block;
    margin: 13px;


}


 
 
    /* -- start navigtion ---- - */


    nav{

        margin-top:5px ;
        background-color: #2b2b2b;
        color:white;
        padding: 10px;       
        display: flex;
        justify-content: center;
        font-size: 30px;
    
        


    }



    /* -- main-area ---- - */


.main-area {

   
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

   
 

}



/********* start section *** */

.content{

    margin:5px ;
    background-color: #4e4e4e;  
    padding: 10px;       
    width: 69%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}







  /*  ----section one ----- */

    /* assign 1 */
    .cir-one{

        background-color: #eeeeee;
        text-align: center;
        border-radius: 50%;
        color: #ff5722;
        box-shadow: 12px 0px 0px #ff5722, -12px 0px 0px #03a9f4;
        margin: 40px auto;
        padding: 8% 0%;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
    
    }

    /* assign 2 */

.parent{
    height: 300px;
    width: 600px;
    margin: 40px auto;
    padding: 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    border: 1px solid red;
    flex-flow:  row wrap;

    }

.parent div{

    width: calc(100% /4);
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: red;
    color: white;


}



  /* assign 3 */

.parent-two{
    height: 300px;
    width: 600px;
    margin: 40px auto;
    padding: 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    flex-flow:  row wrap;
    
    }
    
    .parent-two div{

        width: calc(96% /3);    
        padding: 5px;
        text-align: center;
        background-color: #607d8b;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        
        }
        
        
        /* **box1 ** */
        .one{

            align-self:end;
            order: 6;
            
        }
        
        
        /* **box2 ** */
        .two{
    
            order: 5;
            
        }
        
        /* **box3 ** */
        .three{

          align-self: flex-start;
            order: 1;
            
        }
        
        /* **4 ** */
        .four{
            
            order: 2;
            
            
        }
        
        /* **box5 ** */
        .five{
            
           order: 4; 
            
        }
        

        /* *********assign 4******/
   

    .p-3{

     margin: 40px auto;
     border: 1px solid black;
     background-color: #eeeeee;
     width: 600px;
     height: 400px;
     color: white;
     display: flex;
     flex-flow: column nowrap;
     justify-content: space-evenly;
   
     

     
    }


    .p-3 div{

    height: calc(65% / 3);
    background-color: #009688;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;


    }


    .one-1 , 
    .three-3{

     width:50px ;
     align-self: flex-end;
    
    }

    .two-2{

    flex-grow: 0.5;
    width: 65%;


    }
        


        /* *********assign 5******/

.p-five{
 
    width: 600px;
    height: 300px;
    background-color: rgb(211, 211, 211);
    border: 1px solid black;
    margin: 2px auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    


}
  
.p-five div{

    width :calc(65% / 4);
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;

}



.as-one{
    
    background-color:#ff9800;
    order:1;
}

.as-two{
    
    background-color:#8bc34a;
    order:2;
    align-self: flex-end;
}

.as-three{

    background-color:#795548;
    order:3;
}

.as-four{

    background-color:#673ab7;
    align-self: flex-end;   
}




/* ********callange-1******** */

.grid-ass6{

    margin: 23px auto;
    background-color: #ddd;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(13,1fr);
    gap: 10px;
    width: 97%;
  


}

.grid-ass6 div{

    padding: 20px; 
    position: relative;
    overflow: hidden;
   

}

.grid-ass6 div p{
    overflow: hidden;
    text-align: center;
    font-family: sans-serif;

}




/* ****paragraph one**** */
.i{

    grid-area:1/1/4/3;
    background-color:white;
    color: black;

}

.i::before {
    content: "";
    background: red;
    width: 100%;
    height: 1%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.i p::after {
    content: "''";
 width: 12%;
 height: 4%;
 position: absolute;
 bottom: 12%;
 right: 2%;
 color: #b3b3b3a8;
 font-size: 65px;
 transform: rotate(20deg);
}



/* ****paragraph two**** */

.ii{   
    
    grid-area:1/3/4/3;
    background-color:white;
    color: black;

}

.ii::before {
    content: "";
    background: red;
    width: 100%;
    height: 1%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.ii p::after {
    content: "''";
 width: 8%;
 height: 3%;
 position: absolute;
 bottom: 12%;
 right: 11%;
 color: #b3b3b3a8;
 font-size: 65px;
 transform: rotate(20deg);
}

/* ****paragraph three **black**** */
.iii{


    grid-area: 1/4/10/4;
    background-color: black;
    color: white;
}

.iii::before {
    content: "";
    background: red;
    width: 100%;
    height: 0.3%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.iii p{
    color: white;
    line-height: 26px;


}

.iii p::after {
       content: "''";
    width: 12%;
    height: 4%;
    position: absolute;
    bottom: 1%;
    right: 20%;
    color: #b3b3b3a8;
    font-size: 65px;
    transform: rotate(20deg);
}


/* ****pargraph Four*** */

.iv{

    
    grid-area:4/1/10/1;
    background-color:white;
    color: black;

}

.iv::before {
    content: "";
    background: red;
    width: 100%;
    height: 0.3%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}


.iv p::after {
    content: "''";
 width: 12%;
 height: 4%;
 position: absolute;
 bottom: 6%;
 right: 11%;
 color: #b3b3b3a8;
 font-size: 65px;
 transform: rotate(20deg);
}

/* ****pargraph Five ***black**** */

.v{
    grid-area: 4/4/7/2;
    background-color:black;
    color: white;

}

.v::before {
    content: "";
    background: red;
    width: 100%;
    height: 1%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}


.v p::after {
    content: "''";
 width: 12%;
 height: 4%;
 position: absolute;
 bottom: 12%;
 right: 2%;
 color: #b3b3b3a8;
 font-size: 65px;
 transform: rotate(20deg);
}

/* ****pargraph Six**** */

.vi{
    grid-area: 7/4/10/2;
    background-color:white;
    color: black;

}

.vi::before {
    content: "";
    background: red;
    width: 100%;
    height: 1%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}


.vi p::after {
    content: "''";
 width: 12%;
 height: 4%;
 position: absolute;
 bottom: 12%;
 right: 2%;
 color: #b3b3b3a8;
 font-size: 65px;
 transform: rotate(20deg);
}


/* ****pargraph Seven**** */


.vii{

    grid-area:10 /2/14/1;
    background-color:white;
    color: black;

}

.vii::before {
    content: "";
    background: red;
    width: 100%;
    height: 1%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}


.vii p::after {
    content: "''";
 width: 12%;
 height: 4%;
 position: absolute;
 bottom: 12%;
 right: 2%;
 color: #b3b3b3a8;
 font-size: 65px;
 transform: rotate(20deg);
}

/* ****pargraph eight black**** */
.viii{
    grid-area:10/3/14/2;
    background-color:black;
    color: white; 

}

.viii::before {
    content: "";
    background: red;
    width: 100%;
    height: 1%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.viii p::after {
    content: "''";
 width: 12%;
 height: 4%;
 position: absolute;
 bottom: 12%;
 right: 2%;
 color: #b3b3b3a8;
 font-size: 65px;
 transform: rotate(20deg);
}

/* ****pargraph naighn**** */

.ix{

    grid-area: 10/3/14/3;
    background-color:white;
    color: black;

}

.ix::before {
    content: "";
    background: red;
    width: 100%;
    height: 1%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}


.ix p::after {
    content: "''";
 width: 12%;
 height: 4%;
 position: absolute;
 bottom: 12%;
 right: 2%;
 color: #b3b3b3a8;
 font-size: 65px;
 transform: rotate(20deg);
}


/* ****pargraph Ten**** */


.x{

  
    grid-area:10 /4 /14 /4;
    background-color:white;
    color: black;

}

.x::before {
    content: "";
    background: red;
    width: 100%;
    height: 1%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}


.x p::after {
    content: "''";
 width: 12%;
 height: 4%;
 position: absolute;
 bottom: 12%;
 right: 2%;
 color: #b3b3b3a8;
 font-size: 65px;
 transform: rotate(20deg);
}





 /*  ----********section two*******************----- */


/* ******assignment-16******** */

    /* ******Task-one***** */

.ass-16-t-o{

    color: white;
    width: 10vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px auto;
    z-index: 0;

}

.ass-16-t-o::before
,.ass-16-t-o::after {
    
    content: "";
    height: 11vh;
    width: 12vw;
    background: #ff5722;
    position: absolute;
    top: 2%;
    right: -5%;
    z-index: -1;
   

}

.ass-16-t-o::before{

transform:skew(10deg,10deg);

}

.ass-16-t-o::after{

transform:skew(-10deg,-10deg);

}


   /* ******Task-two***** */

.ass-16-t-t{

    width: 13vw;
    height: 10vh;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #009688;
    position: relative;
}

.ass-16-t-t:before{
    content: '';
    width: 13%;
    height: 100%;
    background-color: #009688;
    border-right: 6px solid white;
    transform: skew( 17deg, 0deg);
    position: absolute;
    top: 0%;
    left: -9%;

}




   /* ******Task-three**** */


.ass-16-t-th{
    width: 200px;
    height: 200px;
    background-color: #607d8b;
    margin: 40px auto;
    padding: 10px;
    border-bottom: 4px solid rgb(0, 0, 0);
    position: relative;
}

.ass-16-t-th::before{
    content: '';
    width: 118px;
    height: 118px;
    background-color: #000000;
    margin: 20px auto;
    padding: 10px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: -46%; 
    left: 14.5%;

}


.ass-16-t-th::after{
    content: 'Mahmoud';
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 0%;
    left: 0%;    

}



   /* ******Task-Four**** */


   .container-tf{

    perspective:450px;
    margin:40px auto;
  
}

.ass-16-t-f{

    transform-style: preserve-3d;
    position:relative;
    width: 200px;
    height:200px;
    transition: transform  1s  linear;
    margin: 40px auto;

}


.ass-16-t-f::before{

content:"Fornt";
width: 200px;
height: 200px;
display:flex;
justify-content:center;
align-items:center;
color:#fff;
background-color:#e91e63;
position:absolute;

}


.ass-16-t-f::after{
    content:"Back";
    width: 200px;
    height: 200px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    background-color:#2196f3;
    position:absolute;
    transform:rotateY(180deg);
    


}

.ass-16-t-f:hover{

transform:scale(1.1)  rotateY(-180deg);

}

   /* ******Task-Five**** */


   .container-tfive{

    perspective:450px;
    margin:40px auto;
  
}

.ass-16-t-five{

    transform-style: preserve-3d;
    position:relative;
    width: 200px;
    height:200px;
    transition: transform 1s  linear;
    margin: 40px auto;

}


.ass-16-t-five::before{

content:"Fornt";
width: 200px;
height: 200px;
display:flex;
justify-content:center;
align-items:center;
color:#fff;
background-color:#e91e63;
position:absolute;

}


.ass-16-t-five::after{
    content:"Back";
    width: 200px;
    height: 200px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    background-color:#2196f3;
    position:absolute;
    transform:rotatex(180deg);
    


}


.ass-16-t-five:hover{

transform:scale(1.1)  rotatex(-180deg);

}




/* ******assignment-17******** */

    /* ******Task-one***** */

    .ass-17-1{
        margin: 30px auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid #e91e63;
        border-right: 5px solid transparent;
        background-color: #fff;
        position: relative;
        animation: move 1s  infinite   linear;

 }

 .ass-17-1 div::before{

    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 5px solid #03a9f4;
    border-left: 5px solid transparent;
    position: absolute;
    top: -31%;
    left: -29%;


 }

 .ass-17-1 div::after{
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #f4e403;
    border-right: 5px solid transparent;
    position: absolute;
    top: -50%;
    right: -51%;
 

 }

@keyframes move {

0%{

    transform: rotate(0turn);

}

100%{

    transform: rotate(1turn);

}


}

.ass-17-1:hover{animation-play-state: paused;}
.ass-17-1:hover div::before{animation-play-state: paused;}
.ass-17-1:hover div::after{animation-play-state: paused;}


    /* ******Task-two***** */

    .ass-17-2{
        margin: 30px auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid #2196f3;
        border-right: 5px solid transparent;
        background-color: #fff;
        position: relative;
        animation: move 1s  infinite  paused linear;

 }

 .ass-17-2 div::before{

    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 5px solid #ffee00;
    border-right: 5px solid transparent;
    position: absolute;
    top: -31%;
    left: -29%;


 }

 .ass-17-2 div::after{
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #000000;
    border-right: 5px solid transparent;
    position: absolute;
    top: -50%;
    right: -51%;
 

 }

@keyframes move {

0%{

    transform: rotate(0turn);

}

100%{

    transform: rotate(1turn);

}


}

.ass-17-2:hover{animation:move 1s infinite linear}
.ass-17-2:hover div::before{animation:move 2s infinite linear}
.ass-17-2:hover div::after{animation:move 3s linear infinite;}




/* ******assignment-19******* */

    /* ******Task-one***** */
    
    :root{
    --back-color:#ddd;
    --div-color-one:#009688;
    --div-color-two:#f00;
    --div-color-three:greenyellow;
    }



.ass-19-1{
    width:65vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;
    border: 2px solid black;
    background-color: var(--back-color);
    transition: 0.5s linear;

}


.ass-19-1 div {

    padding: 10px;
    background-color: #fff;
    margin: 5px auto;
}

.ass-19-1 div  p{
display: inline-block;   
color: black;
margin: 20px auto;
}


/* *******Mobile&small-screen ***** */
@media(max-width:767px){
    .ass-19-1 div{
        width: calc(95% - 25px);
     }

    .ass-19-1 div  h3{
    color:#000000;
    font-weight: bold;
     }
    
    }
    

/* *******Medium-screen ***** */
@media(min-width:768px) and (max-width:991px){
    .ass-19-1 div{
        width: calc(50% - 25px);
     }

    .ass-19-1 div  h3{
        
    color: var(--div-color-two);
      font-weight: bold;
     }
    

}



/* *******Large-screen ***** */
@media(min-width:992px){
    .ass-19-1 div{
        width: calc(25% - 20px);
    }

    
.ass-19-1 div h3 {
    color:var(--div-color-one );
    font-weight: bold;
     
     }
    
}


/* ******Task-two***** */

.ass-19-2{
    width:65vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;
    border: 2px solid black;
    background-color: var(--back-color);
    transition: 0.5s linear;

}


.ass-19-2 div {
    width: calc(90% / 3);
    height: 60px;
    padding: 10px;
    background-color: #fff;
    margin: 5px ;
    text-align: center;

}

.ass-19-2 div  p{
display: inline-block;   
color: black;
margin: 5px auto;
}



/* *******Mobile&small-screen ***** */

@media(max-width:767px) {
    .ass-19-2 div {
        width: calc(98% - 20px);
        font-weight: bold;
        color: var(--div-color-three);
    }


}


/* *******Medium-screen ***** */
@media (min-width:768px) and ( max-width:991px) {

.ass-19-2 :first-child{width: 98%;}

.ass-19-2 div {
        color:var(--div-color-two);  
    }

}


/* *******Large-screen ***** */

@media (min-width:992px){

.ass-19-2 :first-child{ width:98%}

.ass-19-2 :last-child{ width:98%;}

.ass-19-2 div {
    color:var(--div-color-one);  
}


}










    /* -- start Right side bar  ---- - */

aside{
    margin: 5px;
    background-color: #4e4e4e;
    padding: 10px;
    width: 29.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
   

}

h2{

    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
    font-weight:bold;


}

.gradient{

    text-align: center;
    background-color: rgb(202, 202, 202);
    color: white;
    font-weight: bold;
    width: 83%;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative;
    letter-spacing: 4px;


}

.fl{ 
    
    color: #f44336;
    font-weight: bold;
    font-size: 35px;
    
    }


.gradient::before{

    content: "";
    width: 107%;
    height: 87px;
    background-image: linear-gradient( to right ,
             #f44336 20% , 
             #2196f3 20% , 
             #2196f3 40% , 
             #4caf50 40% , 
             #4caf50 60% , 
             #e91e63 60% , 
             #e91e63 80% , 
             #673ab7 80% );

    position: absolute;
    top: -11px;
    left: -11px;
    z-index: -1;

}


/* *****asss2-Task 13******* */

.ass-2-parent{

    display:flex;
    justify-content:center;
    flex-flow: column nowrap;
    width: 90%;

}

.in-parent{
    width: 90%;
    margin:20px auto ;
    position:relative;

}



.in-parent::after{
    content: "";
    width: 22.5vw;
    height: 5px;
    background-image: linear-gradient(to right ,#f44336 ,#f44336 50% ,#009688 50%,#009688);
    position: absolute;
    bottom: -2%;
    left: 0%;
}
    

 .input-text{
    width: 100%;
    border:none;
    caret-color: red;
    height:60px;
    background-color: #d4d4d4;
    font-size: 20px;
    color: rgb(10, 168, 173) ;  
}


/* *************Task-14********** */


/* ******ass.1***** */

.grid{
    
    background-color: #ddd;
    padding: 20px;
    width: 90%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px 150px;
    gap: 5px;
}


.grid div{

background-color: #607d8b;
padding: 5px;
color: white;
display: flex;
justify-content: center;
align-items:center;

}

.Element-1,
.Element-2,
.Element-3,
.Element-4,
.Element-5,
.Element-6::before{
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;

 }


 .Element-1::before{content: "Element 1";}
 .Element-2::before{content: "Element 2";}
 .Element-3::before{content: "Element 3";}
 .Element-4::before{content: "Element 4";}
 .Element-5::before{content: "Element 5";}
 .Element-6::before{content: "Element 6";}


/* ********ass.2******** */

.layout{ 

margin: 20px auto;    
width: 80%;
height: 1   00vh;
display: grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: 50px 200px 50px;
grid-template-areas: 
    " head head head head head head head head head head "
    " cont cont cont cont cont cont cont aside aside aside "
    " foot foot foot foot foot foot foot foot foot foot  ";

}
 .head,
 .sec-cont,
 .aasidee,
 .fooot{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;

 }


 .head{
    grid-area:head;  
    background-color:#03a9f4 ;

 }
 .sec-cont{
    grid-area:cont;  
    background-color:#ff5722 ;

 }
 .aasidee{
    grid-area:aside;  
    background-color:#607d8b ;

 }
 .fooot{
    grid-area:foot;  
    background-color:#009688 ;

 }
 

 .head::before{ content: "Header";font-weight: bold;}
 
 .sec-cont::before{content: "Section";font-weight: bold;}
 
 .aasidee::before{content: "Aside";font-weight: bold;}
 
 .fooot::before{content: "Footer";font-weight: bold; }




/* ********ass.3******** */


 .grid-ass3{

    background-color: #ddd;
    padding: 15px;
    width: 95%;
    height: 400px;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 300px 20px;
    gap: 5px;

}


.grid-ass3 div{

    background-color: #8bc34a;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold   ;

}


/* ********ass.4******** */


.grid-ass4{

    background-color: #fffafac2;
    width: 90%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 15px;
    padding: 10px;


}

.grid-ass4 div {

    background-color:#2196f3;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-weight: bold;

}



.onee{ grid-area: 6/span 3 ;}
.twoo{grid-area:2/ span 2 ;}
.fivee{ grid-area: 6/2/3/4;}
.eightt{grid-area:1/ span 3 ;}



/* ********ass.5******** */

.grid-ass5{
    padding: 10px;
    background-color:#ddd;
    width: 90%;
    height:300px;
    display: grid;    
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: 20px;
    justify-content: space-between;
    align-content: space-between;
    gap: 10px;


}



.grid-ass5 div{

    background-color:#e91e63;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white ;


}



/* ******assignment15 ******** */

    /* ******Task-one***** */

.box{

    margin: 30px auto;
    padding: 10px;
    width: 26vw;
    height: 26vh;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.box div {


    margin: 20px;
    height: 15vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.one-box{

background-color: #ddd;
color:#03a9f4;
font-weight:bold;
z-index: 3;

}


.two-box{

    background-color: #2196f3;
    transform: rotate(347deg);
    z-index: 2;
  

}


.three-box{

    background-color: #e91e63;
    transform: rotate(11deg);
     z-index: 1;  
    
}

    /* ******Task-two***** */
.circle-one{

    background-color: #ddd;
    width: 13.4vw;
    height: 18.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    font-weight: bold;
    border: 7px solid #e91e63;
    border-left: 7px solid transparent;
    border-radius: 48%;
    color: #2196f3;

}

.circle-one::before{
    content: "";
    width: 13.3vw;
    height: 18vh;
    border-radius: 50%;
    border: 7px solid #2196f3;
    border-right: 7px solid transparent;
    background-color: transparent;
    position: absolute;
    z-index: -1;


}



    /* ******Task-three***** */
    .circle-two div{

        background-color: #ddd;
        width:200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
        font-weight: bold;
        color: #2196f3;
        border-radius: 50%;
        position: relative;
     
    }


    .circle-two div::after{

        content: "";
        background-color: transparent;
        width: 95%;
        height: 95%;
        border: 7px solid #e91e63;
        border-left: 7px solid transparent;
        border-radius: 50%;
        position: absolute;
        transition: 0.7s ease;
        top: -1%;

    }  

    .circle-two:hover div::after{

        transform: rotate(1turn);


    }


    .circle-two div::before{

        content: "";
        background-color: transparent;
        width: 101%;
        height: 100%;
        border: 8px solid #03a9f4;
        border-right: 10px solid transparent;
        border-radius: 50%;
        position: absolute;
        transition: 0.7s 0.5s ease;
        left: -8px;
    
    }  

    .circle-two:hover div::before{

        transform: rotate(1turn);


    }



 /* ******assignment-20******** */

.ass-20 {width: 90%;}

.ass-20 div{

    width: calc(90% - 10px);
    height:50px;
    background-color: var(--back-color);
    position:relative;
    margin: 20px auto;
    padding: 10px;
    z-index: 1;
 }
       
    
 .arrow-top::after{
        content: "";
    width: 0px;
    border: 20px solid red;
    position:absolute;
    top: 10%;
    right: 19%;
    z-index: 3;
 }







    /* -- start footer  ---- - */


footer {


    background-color: #4e4e4e;  
    padding: 10px;       
    display: flex;
    justify-content:space-between;
    color: white;

}

.copyright{

margin: 5px;


}

.design{

    margin: 5px;


}





























